<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Demo Google OAuth2 Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

<ul th:each="user : ${users}">
    <li th:text="${user.getGivenName()}"></li>
    <li th:text="${user.getFamilyName()}"></li>
    <li th:text="${user.getEmail()}"></li>
    <li th:text="${user.getInformation()}"></li>
</ul>

</body>

</html>